/vendor
/.idea
Homestead.json
Homestead.yaml
.env
build/
coverage/
bootstrap/compiled.php
.vscode/

composer
.env.example
.gitignore


/node_modules
/public/hot
/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
